<div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">Usuários</div>
    <div class="panel-body">
        <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th style="width:10%">Posto/Grad</th>
                    <th style="width:15%">Nome</th>
                    <th style="width:25%">Seção</th>
                    <th style="width:25%">Turno</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios" ng-click="edita(usuario)">
                    <td>{{ usuario.postoGrad.nome }}</td>
                    <td>{{ usuario.nomeGuerra }}</td>
                    <td>{{ usuario.secao.nome }}</td>
                    <td>{{ usuario.turno.nome }}</td>
                </tr>
            </tbody>
        </table>
        <button style="margin: 10px" type="button" class="btn btn-default" ng-click="add()">Adicionar usuário</button>
    </div>
</div>
</div>