<div class="modal-header">
  <h3 class="modal-title">{{ projeto.nome }}</h3>
</div>
<div class="modal-body">

  <uib-tabset active="activeJustified" justified="true" class="tab-style">

    <uib-tab index="1" heading="Metadados" style="padding-bottom: 20px">
      <form class="form-horizontal" role="form" name="metadadosForm">
        <div class="form-group">
          <label class="control-label col-sm-2">Nome</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="nome" placeholder="Nome do projeto" ng-model="projeto.nome" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Servidor PostGIS</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="servidor" placeholder="Endereço do servidor PostGIS" ng-model="projeto.servidorPg"
              required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Porta do servidor PostGIS</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="porta" placeholder="Porta do servidor PostGIS" ng-model="projeto.portaPg" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Pasta de insumos</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="insumos" placeholder="Pasta com insumos do projeto" ng-model="projeto.insumosPath"
              required>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="metadadosForm.$invalid" type="button" ng-click="finalizaMetadados()">Atualiza metadados</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancela</button>
      </div>
    </uib-tab>

    <uib-tab index="2" heading="Adicionar Tarefas" style="padding-bottom: 20px">
      <form class="form-horizontal" role="form" name="tarefaform">
        <div class="form-group">
          <label class="control-label col-sm-2">MI</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Pesquisa por MI" ng-model="miAdd" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Escala</label>
          <div class="col-sm-10">
            <select ng-model="escala" ng-options="e for e in escalas" required></select>
          </div>
        </div>
        <br>
        <button class="btn btn-primary" type="button" ng-click="pesquisaMi(miAdd, escala)">Buscar</button>

        <div class="panel panel-default" style="margin-top: 1em" ng-show="listaBuscaMi.length > 0">
          <div class="panel-body">
            <table class="table table-hover table-responsive" width="100%">
              <thead>
                <tr>
                  <th>MI</th>
                  <th>INOM</th>
                  <th>ASC</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="moldura in listaBuscaMi | orderBy:'mi' track by $index" ng-click="addMi(moldura)">
                  <td>{{ moldura.mi }}</td>
                  <td>{{ moldura.inom }}</td>
                  <td>{{ moldura.areaSuprimento }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default" style="margin-top: 1em">
          <div class="panel-heading">MI Adicionados</div>
          <div class="panel-body">
            <div ng-show="projeto.tarefas.length > 0">
              <table class="table table-hover table-responsive" width="100%">
                <thead>
                  <tr>
                    <th>MI</th>
                    <th>INOM</th>
                    <th>Escala</th>
                    <th>ASC</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="tarefa in projeto.tarefas | orderBy: 'escala' track by $index" ng-click="removeMi(tarefa)">
                    <td>{{ tarefa.mi }}</td>
                    <td>{{ tarefa.inom }}</td>
                    <td>{{ tarefa.escala }}</td>
                    <td>{{ tarefa.areaSuprimento }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="tarefaform.$invalid" type="button" ng-click="finalizaTarefa()">Adiciona tarefas</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancela</button>
      </div>
    </uib-tab>

    <uib-tab index="3" heading="Inicia o projeto" ng-show="!projeto.dataInicio" style="padding-bottom: 20px">
      <h4>Deseja iniciar o projeto?</h4>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="finalizaInicioProjeto()">Inicia projeto</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancela</button>
      </div>
    </uib-tab>

  </uib-tabset>

</div>